 :root{
    --bg:#121212;
    --card:rgba(255,255,255,0.05);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:system-ui;
}

body{
    background:var(--bg);
    color:white;
}

h2 {
    text-align:center;
}

.app{

    max-width:420px;

    margin:auto;

    min-height:100vh;

    position:relative;
}

/* HEADER */

.header{

    position:fixed;

    top:0;

    left:50%;

    transform:translateX(-50%);

    width:calc(100% - 30px);

    max-width:390px;

    z-index:1000;

    padding:15px;

    border-radius:0 0 25px 25px;

    backdrop-filter:blur(15px);

    background:rgba(30,30,30,0.75);

    border:1px solid rgba(255,255,255,0.08);
}

.glass{
    backdrop-filter:blur(12px);
    background:rgba(255,255,255,0.05);
}

.profile{
    display:flex;
    align-items:center;
    gap:12px;
    cursor:pointer;
}

.avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    background:linear-gradient(180deg,white,gray);
}

.name{
    font-weight:bold;
}

.desc{
    font-size:12px;
    opacity:0.7;
}

.reset-btn{
    margin-top:10px;
    width:100%;
}

main{

    padding-top:140px;

    padding-bottom:140px;

    padding-left:15px;

    padding-right:15px;
}

.page{

    display:none !important;

    width:100%;

    min-height:100vh;

    animation:fade .3s;
}

.page.active{
    display:block !important;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:none;
    }
}

/* CARD */

.card{
    background:var(--card);
    border-radius:20px;
    padding:15px;
    margin-bottom:15px;

}

.glow{
    box-shadow:0 0 25px rgba(58,160,255,0.25);
}

.center{
    text-align:center;
}

.logo{
    width:100px;
    margin-bottom:10px;
}

/* GRID */

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

.box{
    transition:0.2s;
    display:block;
    border-radius:15px;
    padding:20px;
    color: white;
    text-decoration: none;
    
}

.box:active{
    transform:scale(0.98);
}

.box p{
    font-size:12px;
    margin-top:8px;
}

.infochanel{
     background:#5389D6;
     background:linear-gradient(0deg,#5389D6,#3aa0ff);
}

.Ninfochanel{
    background:linear-gradient(0deg,#10AC1C,#10E01C);
}

.raider{
  background:linear-gradient(0deg,#B00019,darkred);
}

.likvidator{
   background:linear-gradient(0deg,#D09E30,#F6CE46);
}

.creator{
   background:linear-gradient(0deg,#5AC4F6,#3aa0ff);
}
/* CHAT */

#chatMessages{
    height:250px;
    overflow-y:auto;
    margin-bottom:10px;
}

.msg{
    padding:10px;
    border-radius:10px;
    margin-bottom:8px;
}

.user{
    background:#3498db;
    text-align:right;
}

.bot{
    background:#333;
}

.chat{
    display:flex;
    gap:10px;
}

.chat input{
    flex:1;
}

/* INPUTS */

input,
button{
    border:none;
    border-radius:15px;
    padding:12px;
}

button{
    background:#3aa0ff;
    color:white;
    cursor:pointer;
}

/* NAV */

.nav{
    position:fixed;

    bottom:15px;
    left:50%;

    transform:translateX(-50%);

    width:calc(100% - 30px);
    max-width:390px;

    display:flex;
    justify-content:space-around;

    padding:12px;

    border-radius:25px;

    backdrop-filter:blur(15px);

    background:rgba(30,30,30,0.75);

    border:1px solid rgba(255,255,255,0.08);

    z-index:999;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.35);
}

.nav button{
    background:none;
    font-size:22px;
    opacity:0.5;
}

.nav button.active{
    opacity:1;
    transform:scale(1.15);
}

/* MODAL */

.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);

    display:none;
    align-items:center;
    justify-content:center;
}

.modal.show{
    display:flex;
}

.modal-content{
    background:#222;
    padding:20px;
    border-radius:20px;
    width:300px;

    display:flex;
    flex-direction:column;
    gap:10px;
}

/* TOAST */

#toast{
    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    background:#333;
    padding:12px 20px;
    border-radius:20px;

    opacity:0;
    transition:.3s;
}

#toast.show{
    opacity:1;
}

/* RAIDER CARD */

.raider-card{

    display:flex;

    gap:15px;

    align-items:center;

    background:rgba(255,255,255,0.05);

    padding:15px;

    border-radius:20px;

    margin-bottom:15px;

    transition:0.2s;
}

.raider-card:hover{
    transform:scale(1.02);
}

.raider-avatar{

    width:70px;
    height:70px;

    border-radius:50%;

    object-fit:cover;

    border:2px solid rgba(255,255,255,0.1);
}

.raider-info{
    flex:1;
}

.raider-name{

    font-size:18px;
    font-weight:bold;
}

.raider-tag{

    opacity:0.7;

    margin-top:3px;

    font-size:14px;
}

.raider-stats{

    display:flex;

    justify-content:space-between;

    margin-top:10px;

    font-size:14px;
}

.danger{
    color:#ff7675;
}

.raids{
    color:#74b9ff;
}

.search-box{
    position:fixed;

    bottom:90px;
    left:50%;

    transform:translateX(-50%);

    width:calc(100% - 30px);
    max-width:390px;

    z-index:998;
}

.search-box input{

    width:100%;

    padding:14px;

    border:none;

    border-radius:20px;

    background:rgba(30,30,30,0.85);

    color:white;

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.08);
}


.bot{
    background:linear-gradient(
        45deg,
        #232526,
        #414345
    );

    border-left:3px solid #3aa0ff;
}

.user{
    background:linear-gradient(
        45deg,
        #3aa0ff,
        #0077ff
    );
}

.panel{

    position:fixed;

    inset:0;

    width:100%;
    height:100%;

    background:rgba(30,30,30,0.82);

    backdrop-filter:blur(25px);

    -webkit-backdrop-filter:blur(25px);

    z-index:99999;

    padding:30px;

    overflow-y:auto;

    border-radius:40px;

    opacity:0;

    pointer-events:none;

    transform:translateY(30px);

    transition:0.3s;
}

.panel.show{

    opacity:1;

    pointer-events:auto;

    transform:none;
}

textarea {
  width: 100%;
  height: 100px;
}

#avatarPreview{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
}



#topBar {
    position: fixed;
    top: 475px;
    right: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    z-index: 10000;

    align-items: flex-end; /* 👈 важно */
}

#topBar button {
    width: 48px;
    height: 48px;

    border-radius: 14px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.12);

    color: white;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    align-self: flex-end;
    transition: 0.2s;
}

#topBar button:active {
    transform: scale(0.92);
    background: rgba(255, 255, 255, 0.15);
}


:root {
    --bg: #ffffff;
    --text: #111111;
    --card: #f2f2f2;
}

body.dark {
    --bg: #0f0f0f;
    --text: #ffffff;
    --card: #1e1e1e;
}

body {
    background: var(--bg);
    color: var(--text);
}


.setting-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin:15px 0;
}

/* Контейнер */

.switch{

    position:relative;

    display:inline-block;

    width:52px;

    height:30px;
}

/* Скрываем стандартный чекбокс */

.switch input{

    opacity:0;

    width:0;

    height:0;
}

/* Ползунок */

.slider{

    position:absolute;

    cursor:pointer;

    top:0;

    left:0;

    right:0;

    bottom:0;

    background:#c7c7cc;

    transition:.25s;

    border-radius:34px;
}

/* Кружок */

.slider::before{

    position:absolute;

    content:"";

    height:24px;

    width:24px;

    left:3px;

    bottom:3px;

    background:white;

    transition:.25s;

    border-radius:50%;
}

/* Включено */

input:checked + .slider{

    background:#34c759;
}

/* Движение кружка */

input:checked + .slider::before{

    transform:translateX(22px);
}



.forum-header{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:10px;
}

.forum-avatar{

    width:45px;

    height:45px;

    border-radius:50%;

    object-fit:cover;
}

.forum-time{

    font-size:12px;

    opacity:.7;
}



#forum {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message {
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.msg-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  width: fit-content;
}

.time {
  font-size: 12px;
  opacity: 0.6;
}

.msg-text {
  margin-top: 8px;
}


#forum-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* список сообщений */
#forum {
  padding-bottom: 180px;
}

/* фиксированная панель */
#forum-input-bar {
  position: fixed; /* 👈 ВАЖНО */
  left: 50%;
  transform: translateX(-50%);

  bottom: 90px; /* выше nav */
  width: calc(100% - 30px);
  max-width: 390px;

  display: flex;
  gap: 10px;
  padding: 10px;

  background: #111;
  border-top: 1px solid #333;

  z-index: 2000;
}


#news-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#news {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 70px;
}

#news-input-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  gap: 10px;
  padding: 10px;

  background: #111;
  border-top: 1px solid #333;
}


.nav {
  z-index: 1000;
}

.reply {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 5px;
  border-left: 2px solid #3aa0ff;
  padding-left: 8px;
}




.msg-actions {
  display: none;
  margin-top: 10px;
  gap: 10px;
}

.msg-actions button {
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 8px;
}

.message.active .msg-actions {
  display: flex;
}


#msgMenuOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 99999;
}

#msgMenuOverlay.show {
  display: flex;
}

#msgMenu {
  background: #1e1e1e;
  border-radius: 16px;
  padding: 10px;
  min-width: 180px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  animation: pop .15s ease-out;
}

@keyframes pop {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

#msgMenu button {
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

#msgMenu button:hover {
  background: rgba(255,255,255,0.08);
}


.message {
  background: rgba(0, 0, 0, 0.08);
  color: #000;
  border-radius: 12px;
  padding: 16px;
  position: relative;
  margin-bottom: 8px;
}

.msgHeader{
  display:flex;
  align-items:center;
  gap:10px;
}

.avatar{
  width:32px;
  height:32px;
  border-radius:50%;
  object-fit:cover;
}

.msgMeta{
  display:flex;
  flex-direction:column;
  font-size:12px;
  opacity:0.8;
}

.msgText{
  font-size:14px;
  word-wrap:break-word;
}

body.dark .message {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.message {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

#forumMessages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.updates-panel {
  width: 360px;              /* или 100% если нужно */
  background: #1e1e1e;
  color: white;
  border-radius: 12px;
  padding: 12px;
  font-family: sans-serif;
}

.updates-list {
  max-height: 200px;         /* 👈 ограничение высоты */
  overflow-y: auto;          /* 👈 включаем вертикальный скролл */
  padding-right: 6px;
}

/* красивый скролл (не обязательно) */
.updates-list::-webkit-scrollbar {
  width: 6px;
}

.updates-list::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.update {
  padding: 8px;
  margin-bottom: 6px;
  background: #2a2a2a;
  border-radius: 8px;
}


.nav button{

    position:relative;
}

.badge{

    position:absolute;

    top:4px;
    right:4px;

    width:18px;
    height:18px;

    border-radius:50%;

    background:red;

    color:white;

    font-size:12px;

    display:none;

    justify-content:center;
    align-items:center;
}


.user-big-avatar{

    width:120px;

    height:120px;

    border-radius:50%;

    object-fit:cover;

    display:block;

    margin:auto;
}